/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  border: red solid 10px;
}
.white-text{
  background-color: red;
  color: white;
  padding: 10px;
}
